#main {
  background-color: #f9f9f9;
}

#main #login {
  width: 350px;
  margin: 0px auto;
  padding: 50px 20px 100px;
  text-align: center;
}

#main #login h1 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 30px;
}

#main #login .false {
  display: block;
  text-align: left;
  color: #eb0028;
  font-size: 12px;
  margin-bottom: 10px;
  display: none;
}

#main #login .item {
  margin-bottom: 10px;
  position: relative;
}

#main #login .item input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  outline: none;
}

#main #login .item input:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

#main #login .item input:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

#main #login .item .see {
  position: absolute;
  right: 12px;
  top: 10px;
  font-size: 20px;
  color: #828282;
}

#main #login .item .submit {
  width: 100%;
  height: 40px;
  color: #fff;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

#main #login .submit-box {
  position: relative;
  background-color: #eb0028;
  z-index: 1;
  margin-top: 20px;
}

#main #login .submit-box span {
  display: block;
  position: absolute;
  background-color: #B8001F;
  width: 0;
  height: 40px;
  top: 0px;
  left: 0px;
  transition: all 0.25s;
}

#main #login .submit-box:hover span {
  width: 100%;
}

#main #login .submit-box:hover .submit {
  background-color: transparent;
}

#main #login .style {
  margin-top: 40px;
}

#main #login .style a {
  display: inline;
  color: #0099cc;
}

#main #login .style a:hover {
  text-decoration: underline;
}

#main #login .style i {
  width: 1px;
  height: 14px;
  display: inline-block;
  margin: 0 14px;
  background-color: #dfdfdf;
}

#main #login .others {
  display: block;
  font-size: 12px;
  color: #666;
  margin-top: 40px;
  padding: 0 10px;
  position: relative;
}

#main #login .others::before, #main #login .others::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 8px;
  width: 100px;
  height: 1px;
  background-color: silver;
}

#main #login .others::before {
  left: 0;
}

#main #login .others::after {
  right: 0;
}

#main #login .others-icon {
  margin-top: 20px;
}

#main #login .others-icon a {
  display: inline-block;
  font-size: 40px;
  margin: 0 15px;
}

.air-view {
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;
  margin: auto;
  z-index: 1000;
  width: 280px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  color: #fff;
  line-height: 100px;
  font-size: 20px;
  text-align: center;
  font-weight: 900;
  display: none;
}
